<?xml version="1.0"?>

<configuration>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rewrite all requests" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false"></match>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="index.html" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
