<div class="text-left">
    <h2>Subsidies in India</h2>
    <p>Megawatt Solutions is an active channel partner of MNRE, and our projects are eligible for all subsidies.</p>
    <strong>All following three subsidies are applicable on Dual Axis Megawatt Solutions Paraboloid Dish (M95, Aperture Area 95 m2)</strong>
    <ul>
        <li>Rs. 6000 per sq. mtr. from MNRE (30% of benchmark cost of Dish)</li>
        <li>Rs. 4000 per sq. mtr. from UNDP (20% of benchmark cost of Dish)</li>
        <li>80% Accelerated Depreciation benefit in first year</li>
    </ul>

    <strong>
        Applicable subsidy on Dual Axis Megawatt Solutions Paraboloid Dish (M95, Aperture Area 95 m2) for Special Category States,
        eg. Jammu & Kashmir, Himachal, Uttrakhand, NE Region, islands, districts with international borders
    </strong>
    <ul>
        <li>
            Rs. 12000 per sq. mtr. from MNRE (60% of benchmark cost of Dish for non-profitable institutions)
        </li>
        <li>Rs. 6000 per sq. mtr. from MNRE (30% of benchmark cost of Dish for profitable institutions)</li>
        <li>Rs. 6000 per sq. mtr. from MNRE (30% of benchmark cost of Dish)</li>
        <li>Rs. 4000 per sq. mtr. from UNDP (20% of benchmark cost of Dish)</li>
        <li>80% Accelerated Depreciation benefit in first year for profitable institutions</li>

    </ul>

    <strong>Note</strong>
    <ul>
        <li>Subsidy is indicative only, and subject to change.</li>
        <li>Prior project sanction/approval from ministry is required beforehand for availing subsidies</li>
    </ul>
</div>




</div>