<div class="text-left">
    <h2> Why Solar !!!</h2>

    Q: How do solar panels work?

    A: Let’s break this down into four steps:

    1) Solar panels are made up of photovoltaic (PV) cells, and these cells are made up of materials called semiconductors. During the day solar cells absorb particles of sunlight and convert it into direct current (DC) electricity

    2) DC electricity travels to a device called the inverter where it is converted into alternating current (AC) electricity, the standard electricity used to power your appliances and home. The inverter is typically installed on an exterior wall or in the garage.

    3) AC electricity then travels from the inverter to your electrical panel (also called the breaker box) and then into your home to power your lights and appliances.

    The energy you use is measured by your utility meter, and when your solar system produces more power than you need this meter spins backward. Excess energy is fed back to your utility company’s grid, earning you credits for contributing to the local energy supply if you’re in one of the 43 states that support net metering.

    4) You’re still connected to the grid, since you’ll need power from the utility company at night. But that’s where those credits you earned come in handy: the cost of any power you use when it’s dark out will be offset by the clean energy you put into the grid during the day.

</div>
